*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container for form and card layouts */
.container {
    margin-top: 15px;
}

/* Form layout label */
.form label{
    font-size: 1.1rem;
    font-weight: bold;
}
#task-submit, #task-reset, #task-save {
    width: 30%;
}

/* Card Layout */
.card {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Card in a card layout */
.child {
    border: 1.5px solid black; 
    border-radius:5px;
    display: grid;
    width: 250px;
    height: 280px;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 5px;
}

.card-status {
    background-color: rgb(20, 20, 20);
    padding: 0px 10px;
    width: 100%;
    border-radius: 2px;
    border-bottom: 1.5px solid black;
    font-size: 13px;
    text-align: center;
    color: seashell;
}

/* Rows in a card grid */
.box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.date {
    font-family: monospace;
    font-size: 14px;
    padding: 2px; 
}

.box-2 {
    padding: 5px;
    font-size: 14px;
    text-align: justify;

}

.box-3 {
    border-top: 1px solid black;
    border-bottom:  1px solid black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(250,250,250);

}

.box-3 img {
    display: flex;
    align-self: center;
    justify-self: center;

}

.box-3 p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    border-left: 1px solid black;
    padding: 0px 5px;
}


.box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(240,240,240);
}

.box img {
    width: 28px;
    height: 28px;
}

.box .card-done {
    padding: 1px;
}

footer {
   width: 100%;
   background-color: rgb(49, 48, 48);
   position: fixed;
   bottom: 0px;
   color: #fff;
   align-items: center;
   justify-content: center;
   text-align: center;
}

/* Multi Column Container*/
.todo, .review, .in-progress, .done {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
    
}

@media only screen and (max-width: 700px) {
    .todo, .review, .in-progress, .done {
        width: 100%; 
    }
  }

@media only screen and (min-width: 700px) {
    .todo, .review, .in-progress, .done {
        width: 50%;
    }
  }

  @media only screen and (min-width: 1200px) {
    .todo, .review, .in-progress, .done {
        width: 25%;
    }
  }

.column-heading {
    font-size: 1.2rem;
    color: white;
    padding: 0px 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}