/* Container for form and card layouts */
.container {
    margin-top: 15px;
}

/* Form layout label */
.form label{
    font-size: 1.1rem;
    font-weight: bold;
}

/* Card Layout */
.card {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Card in a card layout */
.child {
    border: 1.5px solid black; 
    border-radius:5px;
    display: grid;
    width: 200px;
    height: 210px;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    margin: 5px;
}

textarea {
    width: 100%;
    height: 100%;
} 

/* Rows in a card grid */
.box select, input {
    width: 100%;
    margin: 2px;
}

.box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    font-family: monospace;
    font-size: 12px;
    padding: 2px; 
}

.child textarea {
    border: none;
}

.box-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 28px;
    height: 28px;
}
